* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.container {
  /* width: 100%;
  max-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; */
  max-width: 600px;
  background: #f3f7f8;
  width: 600px;
  padding: 20px;
}

.semester {
  width: 100%;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
}
.subject {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}